body{
   
    background-image: url("imagenes/fondo_mensaje.jpg");

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-left: 20%;
    border-right: 20%;
}
.Carta{
    background-color: red;
    background-image: url("imagenes/fondo_mensaje23.jpg");
    margin: 5% ;
    margin-left: 11%;
    margin-right: 11%;

}

a{
       
    color: white;
    position: fixed; 
    bottom: 20px; right: 20px; 
    background: turquoise;
    padding: 10px 15px; 
    border-radius: 800%; 
    text-decoration: none; 
    font-size: 20px;
}